$header-height: 60px;
$footer-height: 50px;

header {
}

main {
  min-height: calc(100vh - #{$header-height + $footer-height});
  margin-top: $header-height;
  padding: 1.5rem 0 2rem;
}

footer {
  line-height: $footer-height;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
}
