<app-page-header>{{ title }}</app-page-header>
<div class="row">
    <div class="col-sm-10 col-md-7 col-lg-5">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" [class.is-invalid]="!signinForm.valid">
            <app-textbox [control]="signinForm.controls.username" label="Username" inputType="text"></app-textbox>
            <app-textbox [control]="signinForm.controls.password" label="Password" inputType="password"></app-textbox>
            <div class="btns">
                <button class="btn btn-primary" type="submit" [disabled]="!signinForm.valid">Sign in</button>
            </div>
        </form>
    </div>
</div>